<!DOCTYPE html>
<html>
  <head>
    <title>Reason on Rails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'hello_reason' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
